<!--
Created by IntelliJ IDEA.
User: iulianacosmina
Date: 2019-07-14
Time: 11:43
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/layout :: cemsHead('CEMS Home Page')}"></head>

    <body>
        <header th:replace="~{fragments/layout :: cemsHeader}" ></header>

        <header th:replace="~{fragments/layout :: cemsMenu}" ></header>

        <section th:fragment="~{fragments/layout :: cemsContent}">
            <div th:text="${message}" ></div>
        </section>

        <footer th:replace="~{fragments/layout :: cemsFooter}" ></footer>
    </body>
</html>
