.banner{
    background: url("../images/banner-blue.png") no-repeat 0px center;
    height: 90px;
}

a:link{color:#0000FF; text-decoration:underline; font-size:14px; background:transparent;}
a:hover{color:#228B22; text-decoration:underline; font-size:16px; background:transparent;}

.content{
    background-color: #E0F2F7;
    float:left;
    padding:10px;
}

.footer p {
    color: #0000FF;
    font-size: 12px;
    font-style: italic;
}

ul {
    list-style-image: url("../images/arrow-blue.png");
    background: no-repeat 0px center;
    padding-left: 30px;
}
